{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/create_event.css' %}"  media="screen,projection"/>
{% endblock %}


{% block body %}
  <div class = "container">
    <div class="row">
      <div class="col m8 s10 offset-s1 offset-m2">
        <div class="card create-event-card">
          <div class="card-content">
            <div class="card-title black-text center-align">Register Your Organization</div>
            <form action="/createevent" method="POST">
              {% csrf_token %}

              <div class="input-field col s12">
                <div class="select-wrapper">
                  <select name="org" class="browser-default" style="margin-top:10px;">
                    <option value="" disabled selected>Choose your option</option>
                    {% for org in orgs %}
                      <option value="{{ org.id }}">{{ org.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <label>Organization Select</label>
              </div>

              <div class="input-field col s12">
                <input name = "name" type="text" class="validate input-input">
                <label for="">Event Name</label>
              </div>

              <div class="input-field col s12">
                <input name="location" type="text" class="validate input-input">
                <label for="">Location</label>
              </div>

              <div class="input-field col s12">
                <textarea name="description" type="text" class="validate materialize-textarea"></textarea>
                <label for="">Description (and type of food!)</label>
              </div>

              <div class="input-field col s12">
                <label for="">What day is it on?</label>
                <input type="date" name="event_date" class="datepicker">
              </div>

              <div class="input-field col s12">
                <label for="">When does it start?</label>
                <input name="start_time" type="time" class="timepicker">
              </div>

              <div class="input-field col s12">
                <label for="">When does it end?</label>
                <input name="end_time" type="time" class="timepicker">
              </div>

              <div class="row" style="margin-top:15px;">
                <div class="col m2 offset-m5 s4 offset-s4">
                  <button class="btn waves-effect waves-light" style="background-color:#990000" type="submit" name="action">Create
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
  <script type="text/javascript" src="{% static 'js/create_event.js' %}"></script>
{% endblock %}